.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40.02px;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
    color: $link-gray;
    text-align: center;
    font-family: "TT Lakes Regular";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    opacity: 0.7218;
    border-top: solid 1px $light-turquoise;
    &__text {
    gap: 16px;
    }
    &__text1 {
    margin-top: 16px;
    margin-bottom: 16px;
    }
    &__text3 {
    margin-top: 16px;
    margin-bottom: 19px;
    }
}




